.history {
    display: flex;
    justify-content: center;
    color: black;
    position: relative;
    overflow: scroll;
}

.historyVal{
    display: flex;
    justify-content: center;
    color: black;
    position: relative;
    overflow: scroll;

}